var(--GlobalFontFamily);
var(--HeaderFooterBGColor);
var(--GlobalMaxWidth);

.Header {
    background-color: var(--HeaderFooterBGColor);
    top: 0;
    width: 900px;
    height: 70px;
    position: fixed;
    z-index: 100;
    }
.LogoText { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;
    margin: 0px 0px 0px 20px;
    }
.DeviceText::after{
    content: "\ [big screen]"
    }
.DeviceText {
    font-size: 10px;
    font-weight: 600;
    font-family: var(--GlobalFontFamily);
    color: black;
    padding: 50px 0px 0px 0px;
    position: fixed;
    }
.HeaderNavListItemCTA a {
    font-family: var(--GlobalFontFamily);
    color: white;
    background: blue ;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    }
.HeaderNavListItemCTA a:hover,
.HeaderNavListItemCTA a:active {
    color: blue;
    color: #C0C0C0; 
    }
.NextTag,
.next-meeting-date {
    font-family: var(--GlobalFontFamily);
    }
/*------------------------------------------*/

.HeaderNavListItemCTA {
    animation     : wiggle 400ms 2s 8 ease-out none;
    }
/*-----------------------------------------
The @keyframes wiggle properties
------------------------------------------*/
@keyframes wiggle {
      0% { transform: rotateZ(  0deg ); }
     50% { transform: rotateZ(-10deg ); }
    100% { transform: rotateZ( 10deg ); }
    }
/*------------------------------------------*/

.HeaderNavListItemBack {
    display: none;
    }
.HeaderNavListItemHome a,
.HeaderNavListItemMtgLoc a {
    text-decoration: none;
    color: blue;
    font-family: var(--GlobalFontFamily);
    font-size: larger;
    font-weight: 700;
    }
.HeaderNavListItemHome a:hover,
.HeaderNavListItemHome a:active,
.HeaderNavListItemMtgLoc a:hover,
.HeaderNavListItemMtgLoc a:active {
    color: cornflowerblue;
    }    
.HeaderNavListItemMtgLoc {
    display: none;
    }
.HeaderNavListItemAvatar {
    display: flex;
    width: 70px;
    text-align: right;
    padding: 10px 0px 0px 0px;
    }
.AvatarImage {
    width: 80%;
    }

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - IPAD LANDSCAPE*/
@media only screen
and (min-width: 950px)
and (max-width: 1000px)
{
    .Logo {
        padding-left: 10px;
        padding-bottom: -30px;
        }
    .DeviceText::after{
        content: "\ [big screen]"
        }
    .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 0px;
        position: fixed;
        }
    .MenuWrap {  /*hamburger*/
        display: none;
        margin: 0px 0px 0px 30px
        }

    /* --- Menu ----------- */
    
    .HeaderNavListItemBack {
        display: none;
        }
    .HeaderNavListItemHome a,
    .HeaderNavListItemMtgLoc a {
        text-decoration: none;
        color: blue;
        font-family: var(--GlobalFontFamily);
        font-size: larger;
        font-weight: 700;
        }
    .HeaderNavListItemHome a:hover,
    .HeaderNavListItemHome a:active,
    .HeaderNavListItemMtgLoc a:hover,
    .HeaderNavListItemMtgLoc a:active {
        color: cornflowerblue;
        }
    .HeaderNavListItemAvatar {
        display: flex;
        padding: 10px 0px 0px 0px;
        }
    .PencilImage {
        display: none;
        }

}  /* END MEDIA - IPAD LANDSCAPE */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - IPAD PORTRAIT*/
@media only screen
and (min-width: 741px)
and (max-width: 949px) 
{ 
    .Header {
        height: 70px;
        width: 100%;
        border-bottom: 0px solid #000;
        }
    .Logo {
        padding-left: 70px;
        padding-bottom: -30px;
        }
    .DeviceText::after{
        content: "\ [tablet]"
        }
    .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 0px;
        position: fixed;
        }
    .Header {
        max-width: var(--GlobalMaxWidth);
        }
    .HeaderSpacer {
        width: 120px;
        }
    .HeaderNavListItemBack,
    .HeaderNavListItemHome,
    .HeaderNavListItemMtgLoc {
        display: none;
        }
    .HeaderNavListItemAvatar {
        display: flex;
        padding: 0px 100px 0px 0px;
        }
    .AvatarImage {
        width: 50px;
        }
    .PencilImage {
        display: none;
        }
    .HeaderNavListItemCTA {
        padding: 0px 0px 0px 0px;
        }
    .HeaderNavListItemCTA a {
        padding: 5px 5px;
        font-size: 14px;
        }    
    .MenuWrap {  /*hamburger*/
        display: flex;
        margin: 0px 0px 0px 30px
        }
/*  .MenuListItemFooter {
        display: none;
        }
   */
} /* END MEDIA - IPAD PORTRAIT */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - IPHONE LANDSCAPE*/
/*=========================================*/
/*=========================================*/
/* The Header/Logo/Navigation properites   */
/*-----------------------------------------*/  
@media only screen
and (min-width: 440px)
and (max-width: 740px) 
{ 
    .Logo {
        padding: 10px 0px 0px 40px; 
        /*display: none;*/
        }
    .DeviceText::after{
        content: "\ [mobile]"
        }
    .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 0px;
        position: fixed;
        }
    .Header {
        height: 75px;
        width: 736px;
        } 
    .HeaderNavList {
        font-size: 8px;
        }
    .HeaderSpacer {
        width: 90px
        }
    .HeaderNavListItemBack,  
    .HeaderNavListItemMtgLoc,
    .HeaderNavListItemAvatar,
    .PencilImage {
        display: none;
        }
    .HeaderNavListItemHome {
        display: inline-block;
        padding: 25px 30px 0px 0px;
        }
    .HeaderNavListItemHome a {
        font-size: 18px;
        }
    .NextTag {
        display: none;
        }
    .MenuWrap {  /*hamburger*/
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        }

   /* --- Menu ----------- */

}  /* MEDIA - IPHONE LANDSCAPE */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - IPHONE PORTRAIT*/
@media only screen
and (max-width: 440px)
  {
     /*--*/
     
    .Header {
        width: 440px;
        height: 75px
        }
    .HeaderNavListItem {
        list-style: none;
        display: inline-block;
        }
     .Logo {
        width: 130px;
        display: flex;
        padding: 0px 0px 10px 40px;
        }  
    .DeviceText::after{
        content: "\ [mobile]"
        }
    .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 100px;
        position: fixed;
        }
    .HeaderSpacer {
        width: 250px;
        }
    .HeaderNavListItemBack,
    .HeaderNavListItemHome,
    .HeaderNavListItemMtgLoc,
    .HeaderNavListItemAvatar,
    .PencilImage {
        display: none;
        }
    .NextTag {
        display: none;
        }
    .HeaderNavListItemCTA {
        display: flex;
        width: 220px;
        }
    .next-meeting-date {
        font-size: 15px;
        font-family: var(--GlobalFontFamily);
        } 
    .MenuWrap {  /*hamburger*/
        display: flex;
        margin-top: 0px;
        }

   /* --- Menu ----------- */

} /* MEDIA - IPHONE PORTRAIT */

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
