
/* Basic Blocks Custom App */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');   /* .(21211.05.4) */


/*-----------------------------------------
:root selector for variables
-------------------------------------------*/
:root {
    --GlobalFontFamily: "Arial, Helvetica, sans-serif";
    --HeaderFooterBGColor: rgb(198 210 222);
    --NextMeetingDate: "02/09/2023";    
    --GlobalMaxWidth: 900px;
    
    --CalloutIconCheck: "\f14a  \A"; /*checkbox*/
    --CalloutIconCheck: "\f0da  \A"; /*Right Arrow*/
    --CalloutIconCheck: "\f0a4  \A"; /*Right Hand Pointer*/
    --CalloutIconCheck: "\f105  \A"; /*Right Arrow*/
    --CalloutIconCheck: "\f328  \A"; /*Clip Board*/
    --CalloutIconCheck: "\f0ca  \A"; /*Bullets {<li>}*/
    --CalloutIconCheck: "\f064  \A"; /*Forward Arrow*/
    --CalloutIconCheck: "\f0ae  \A"; /*ToDo List*/
    --CalloutIconCheck: "\f35a  \A"; /*Right Arrow in Circles*/

    --CalloutIconFontFamily: "Font Awesome 5 Free";    

} 
/*------------------------------------------*/
* {                   /* reset all style */
    box-sizing          :  border-box;
    padding             :  0;
    margin              :  0;
    font-family         :  "Arial, Helvetica, sans-serif";
    font-size           :  16px;
    }
html {
  max-width: var(--GlobalMaxWidth);
  margin: auto;
}
body {
  background-color: cornflowerblue;
}

.container {            /* custom element style */
    padding             :  0;
    height              :  100vh;
    max-height: 99%;
  } 


/*Next meeting date*/
.next-meeting-date::after {
  content: var(--NextMeetingDate);
    }
/*-----------------------------------------
The .Header properites
------------------------------------------*/
.Header {
    background: var(--HeaderFooterBGColor);
    border-bottom: 0px #000 solid;
    width: 100%;
    height: 70px;
    position: fixed;  /*was relative*/
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--GlobalMaxWidth);
    margin: auto;
  }

/*------------------------------------------*/
.HeaderSpacer {
      flex: 1;
  }
/* Header END^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  
/*-----------------------------------------
The .HeaderNavList (horizontal menu) properites
------------------------------------------*/
.HeaderNavList {
    list-style: none;
    margin-right: 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-family: "Arial, Helvetica, sans-serif";
}
/*------------------------------------------*/
.HeaderNavListItem1 a, 
.HeaderNavListItem2 a{
    color: black;
    font-weight: bold;
    font-family: "Arial, Helvetica, sans-serif";
    text-decoration: none;
    margin: 8px 0;
    padding: 25px;
}
/*------------------------------------------*/
.HeaderNavListItem a:hover,
.HeaderNavListItem a:active {
    color: blue;
}
/*------------------------------------------*/
.HeaderNavListItemCTA a {
    color: white;
    background: blue ;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-family: "Arial, Helvetica, sans-serif";
}
/*------------------------------------------*/
.HeaderNavListItemCTA {
    animation     : wiggle 400ms 2s 8 ease-out none;
    }
  
/*-----------------------------------------
The @keyframes wiggle properties
------------------------------------------*/
  @keyframes wiggle {
      0% { transform: rotateZ(  0deg ); }
     50% { transform: rotateZ(-10deg ); }
    100% { transform: rotateZ( 10deg ); }
  }
/*------------------------------------------*/
.HeaderNavListItemCTA a:hover,
.HeaderNavListItemCTA a:active {
    color: blue;
    color: #C0C0C0;
}

/* Header Nav END ^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  
.Logo {
  padding: 0px 0px 10px 10px;
}

/* Logo END ^^^^^^^^^^^^^^^^^^^^^^^^^^*/


/*-----------------------------------------
The .Section1 properites
------------------------------------------*/
.Section1 {
  background: url( '../assets/images/cloud2.jpg');
  /*background-color: whitesmoke;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0px black solid;
  width: 100%;
  height: 35%;
  position: relative;
  top: 70px;
  overflow: auto;
}
/*------------------------------------------*/
.Section1Title {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 3px #000000;
    text-align: left; 
    padding-left: 25px; 
  }
/*------------------------------------------*/
.Section1Title::first-letter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
}
/*------------------------------------------*/
.Section1Paragraph {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 300;
  margin: 20px 20px 0px 40px;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 1px 1px 3px black;
  text-align: left !important;
}
/* Section-1 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*-----------------------------------------
The .Section2 properites
------------------------------------------*/
.Section2 {
    background: aliceblue;
    width: 100%;
    height: 75%;
    position: relative;
    color: black;
    top: 70px; /*<---ADD to adjust the top position*/
    overflow: auto;
  }
/*------------------------------------------*/
.Section2Title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: blue;
  text-shadow: 2px 2px 3px gray;
  text-align: left; 
  padding-left: 22px; 
}
/*------------------------------------------*/
.Section2Title::first-letter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
}
/*------------------------------------------*/
.Section2Paragraph {
    margin: 0px 20px 0px 25px;
    font-size: 16px;
    font-weight: 600;
  }
  .Links {
    width: 100%;
    border: 0px solid #000;
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
  }  
    .Links ol {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        padding-left: 30px;
        padding-top: 10px;  
      }
    .Links ol li {
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 10px;
      }
    .Links ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      padding-left: 20px;
      /*column-rule: dotted 1px #333;*/
      /*column-width: auto;*/
      border-bottom: dotted 1px black;
      }
  
    .Links ul li {
      list-style: none;
      display: inline-block;
      width: calc(100% / 3);
      height: 40px;
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      margin: 10px 0px 10px 0px;
    }
  
    .Links ul li:before { 
      font-family: var(--CalloutIconFontFamily);
      font-weight: 600;
      content: var(--CalloutIconCheck); /*checkbox*/ 
      padding: 0px 5px 0px 0px;
    }
    .Links ul li a {
      color: blue;
      font-family: Arial, Helvetica, sans-serif;
    }
    .Links ul a:hover,
    .Links ul a:active {
      font-family: Arial, Helvetica, sans-serif;
      color: blue;
      }  
  /*------------------------------------------*/
/*
.Section2Paragraph ul {
    list-style-type: none;
    margin: 20px 0px 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-decoration: none;
    display:flexbox;
    column-rule: dotted 1px #333;
    column-width: auto; 
    border-bottom: dotted 1px black;
  }
*/
  /*------------------------------------------*/
/*
.Section2Paragraph ul li:before { 
    font-family: var(--CalloutIconFontFamily);
    font-weight: 600;
    content: var(--CalloutIconCheck); /*checkbox*/ 
/*
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px 0px 0px 10px; 
  } 
*/
  /*------------------------------------------*/  
/*
  .Section2Paragraph a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 0px 0px gray;
    text-decoration: none;
    margin: 8px 0;
    padding: 6px;
}
*/
/*------------------------------------------*/
/*
.Section2Paragraph ul a:hover,
.Section2Paragraph ul a:active {
    color: blue;
  }  
.MainOrderedList {
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin: 8px 0px 0px 30px;
  text-decoration: underline;
}
*/
/* Section2 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*-----------------------------------------
The .Footer properites
------------------------------------------*/
.Footer {
  background: rgb(175 170 150);
  background: var(--HeaderFooterBGColor);
  width: 100%;
  height: 75px; 
  /*top: 10%;  /*Removed in place of the bottom property*/
  border-top: 0px solid darkgray;
  bottom: 0;
  position: fixed;
  z-index: 99;
  max-width: var(--GlobalMaxWidth);
  margin: auto;
} 
/*------------------------------------------*/
.FooterNavList {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*------------------------------------------*/
.FooterNavListItem a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin: 8px 0;
    padding: 12px;
}
/*------------------------------------------*/
.FooterNavListItem a:hover,
.FooterNavListItem a:active {
  color: blue;
}

.footer-break{
  display: none;
}
/* Footer END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



/* END CSS*/