/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Responsive Code */  
/*The @media MAX-width query properties
***** About 75% of my Mac book 15" screen on chrome
/*If Device Width is Between 900 to 2000px Then...*/
/*=========================================*/

/*=========================================*/

@media only screen
 and (max-width: 1100px) 
 and (min-width: 950px) 
{

.Section1 {
  background-color: #C0C0C0;
  width: 99%;
  height: 58%;
}

.device-text::after {
    content: "\  [ tablet-l ]";
}
.device-text {
    font-size: 30px;
    font-weight: 800;
    color: goldenrod; /* rgb(255,201,14); /*gold*/
    text-shadow: 2px 2px 2px black;
    padding-bottom: 20px;
}

}