/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Responsive Code */  
/*The @media MAX-width query properties
***** For Ipad 1 (768x1024)
/*If Device Width is Between 760 to 800px Then...*/
/*=========================================*/

/*=========================================*/
/*@media only screen 
and (max-width: 1200px) 
*/
@media only screen
and (min-width: 700px)
and (max-width: 950px) 
{

.container {            /* custom element style */
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: 90%;
  margin: auto;
} 

.Header {
  height: 10%;
  width: 100%;
  border-bottom: 0px solid #000;
} 
.HeaderNavList {
  display: flex;
  margin-right: 9px;
}
.HeaderNavListItem a {
  font-size: 14px;
}
.HeaderNavListItemCTA a {
  padding: 8px 10px;
  font-size: 14px;
}

.HeaderNav {
  margin-right: -50px;
}
.device-text::after {
    content: "\ [ tablet ]";
}
.device-text {
    font-size: 14px;
    font-weight: 600;
    color:blue;
    text-shadow: 0px 0px 0px black;
    padding-bottom: 20px;
}
.Logo {
  padding-left: 0px;
  padding-bottom: -30px;
}
.Section1 {
  top: 65px;
}
.Section1Paragraph {
  font-size: 120%;
}
.Section2Paragraph a {
  font-size: 100%;
}
.MainOrderedList {
  font-size: 100%;
}
.FooterNavListItem a {
  font-size: 100%;
}
} 