

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*-----------------------------------------
The @media MAX-width query properties
***** IPHONE
/*If Device Width is <= to 414px Then...*/

/*=========================================*/
  @media only screen
  and (max-width: 414px)
{
  .Logo {
    display: flex;
    padding: 0px 0px 0px 35px;
  }  
  .device-text::after {
    content: "\ [mobile] ";
  }
  .device-text {
    font-size: 10px;
    font-weight: 800;
    color: black;
    text-shadow: 0.5px 0.5px 0px black;
    padding: 40px 0px 0px 0px;
  } 
  
  .Header {
    height: 70px;
    position: relative;
  } 
  .HeaderNavList {
    display: flex;
  }
  .HeaderNavListItem2 {
    display: none;
  }
  .HeaderNavListItemCTA {
    width: 138px;
    margin-right: -20px;
  }
  .HeaderNavListItemCTA a,
  .next-meeting-date {
    /*display: none;*/
    font-size: 15px;
  }
   .MenuWrap {
    display: flex;
      background-color: pink;
  }
  .MenuWrap .Menu > div {
    /*move menu around*/
      justify-content: left; /*was center*/
      padding-left: 140px; /*was deleted*/
      margin-top: -250px; /*was deleted*/
      /*end of move around*/
  }

  .MenuWrap .Menu > div > div > ul > li > a {
    font-size: 1rem;
    font-weight: 600;
    color: blue;
    padding: 0px;
  }
  .BoxMenu {
    padding: 0px;
    background-color: whitesmoke;
    border: blue 1px solid;
  }

  .MenuList {
    border: blue 1px solid;
  }
  .MenuListItem {
    margin: -35px;
  }


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Section1 properites
------------------------------------------*/
.Section1 {
  width: 100%;
  height: 45%;
  top: 0px; /*<---ADD to adjust the top position*/
  overflow-y: scroll;
}
.Section1Title {
  font-size: 25px;
  color:black;
  text-shadow: 0.5px 0.5px 0px #FFFFFF;
  padding: 0px 0px 0px 0px;
  text-align: center;

}
.Section1Paragraph {
  font-size: 18px;
  color:black;
  text-shadow: 0.5px 0.5px 0px #FFFFFF;
  margin: 10px 0px 0px 20px;
}
/* Section1 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*-----------------------------------------
The .Section2 properites
------------------------------------------*/
.Section2 {
  background-color: rgb(198 210 222);;
  width: 100%;
  height: 45%;
  top: 0px; /*<---ADD to adjust the top position*/
  overflow-y: auto;
}
.Section2Title {
  text-align: center;
  font-size: 25px;
  color:black;
  text-shadow: 0.5px 0.5px 0px #FFFFFF;
  padding: 0px 0px 0px 0px;
}
.Section2Paragraph {
  padding-top: 0px;
}

.Links {
  width: 150%;
  border: 0px solid #000;
  margin: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}  
  .Links ol {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      /*padding-left: 10px;*/
      /*padding-top: -10px;*/
      /*padding-bottom: 10px;*/
      margin: -30px 0px 10px -20px;  
    }
  .Links ol li {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    }
  .Links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: -15px 0px 5px -30px;
    /*column-rule: dotted 1px #333;*/
    /*column-width: auto;*/
    border-bottom: dotted 1px black;
    }

  .Links ul li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 2);
    height: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px -40px 10px 0px;
  }

  .Links ul li:before { 
    font-family: var(--CalloutIconFontFamily);
    font-weight: 600;
    content: var(--CalloutIconCheck); /*checkbox*/ 
    padding: 0px 0px 0px 0px;
  }
  .Links ul li a {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Links ul a:hover,
  .Links ul a:active {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    } 

/* Section1 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  .Footer {
    display: none;
  }

}    
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
